<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <div class="container">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <% if session[:username] != nil %>
    <form action = "/users/logout" method="post">
      <input name="_method" value="delete" type="hidden">
      <a href="/flashcards"><button type="button" class="btn btn-default navbar-btn">FlashCards Decks and My Stats</button></a>
      <button type="submit" name="submit" class="btn btn-default">Logout from <strong><%= session[:username] %></strong></button>
    </form>
  <% end %>

</nav>

  <%= yield %>
  </div>
</body>
</html>
